@charset "utf-8";
 * {margin:0;padding:0;}

html, body {height: 100%;}

body{
    font-family: Helvetica, sans-serif;
    background-image:url(../img/bg1.jpg);
    background-color:grey;
    background-attachment:fixed;
    background-position: center top;
    //position:relative;
}

#wrap {min-height: 100%;}

footer {position: relative;
    margin-top: 25px; /* negative value of footer height */
    height: 35px;
    font-size:13px;
    padding-top:15px;
    color:#FFF;
    clear:both;
    background: rgb(119,115,115);
    background: -moz-linear-gradient(top,  rgba(119,115,115,0.9) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 );
    }

/*Opera Fix*/
    body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#search{
    width:224px;
    height:23px;
    float:right;
    margin-top: -3px;

}


#search-text{
    float:left;

    color:white;
    background-color: #3e3c43;
    padding-left: 5px;
    margin-right: -4px;
    margin-top: 1px;
    height:22px;
    width: 179px;
    border: 1px solid #50454D;

    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;

    box-shadow: 2px -2px 11px 1px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow:  2px -2px 11px 1px rgba(0, 0, 0, 0.5) inset;
}

#search-button{
    float:left;

    width:37px;
    height:25px;
    background-image:url(../img/search.jpg);
    -webkit-border-radius: 0 9px 9px 1px;
    -moz-border-radius: 0 9px 9px 1px;
    border-radius: 0 9px 9px 1px;
    border:none;
}



#go-top{

    position: fixed;
    top: 35px;
    left: 0px;
    width:180px;
    height:90%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 18%, rgba(0,0,0,0.25) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(0,0,0,0.25)), color-stop(77%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#go-top:hover{
    position: fixed;
    top: 35px;
    left: 0px;
    width:180px;
    height:90%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.8)), color-stop(60%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/*шириа блоков и выравнивание по центру*/
.centr{
    margin: 0 auto;
    width: 700px;
}

#top-line{
    font-size:13px;
    padding-top:12px;
    width:100%;
    height: 35px;
    background-color:#000;
    opacity:0.8;
    color:#FFF;
    background: rgb(119,115,115); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(119,115,115,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#dark-bg{
position: absolute;
z-index:20;
opacity:0.2;
}

#main-href{
text-decoration:none;
color:white;
}

#logo{
    width:150px;
    float:left;
    margin-top: -8px;
    margin-left: -25px;
}

#top-menu{
    float:right;
    text-align:right;
}

header{
    text-align:center;
    vertical-align:central;
    height:130px;
    color:#FFF;
}
#search-block{
    height:40px;
    background-color:#000;
    background: rgba(0,0,0,0.8);
    color:#FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.block{
    height: 152px;
    margin-top:20px;
    background: rgba(0,0,0,0.8);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 2px 0;
}

.block:hover {
    background: rgba(0,0,0,0.94);
    cursor:pointer;
}

#header-text{
    font-size:26px;
    margin-top:35px;
    text-align:center;
    text-shadow:1px 1px 4px black;
    margin-bottom:0px;
}
#please-subs{
    font-size:14px;
    text-shadow:1px 1px 2px black;
}

#subs-button:hover{
    background-image:url(../img/sub-button-hover.png);
}

#subs-button{
    border: medium none;
    color: #FFFFFF;
    height: 35px;
    width: 188px;
    background-image:url(../img/sub-button.jpg);
    cursor:pointer;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-box-shadow:  1px 2px 3px 1px rgba(0, 0, 0, 0.8);
    box-shadow:  1px 2px 3px 1px rgba(0, 0, 0, 0.8);
    font-size: 12px;
    margin-top:22px;
}


.img-block{
    width:130px;
    height:130px;
    float:left;
    margin: 12px 10px 10px 10px;
}
.text-block{
    padding:14px 0px 10px 0px;
    color:#FFF;
    float:left;
    width:77%;
}
.event-name{
    float:left;
    font-size:18px;
    margin-right:15px;
    margin-bottom:3px;
}

.search-failure{
    text-decoration: none;
}

.search-failure #search-failure-text{
    color:white;
    width: 459px;
    margin: 50px auto;
    font-size: 16px;
    text-align:center;

}


.event-creator{
    float:left;
    line-height:25px;
    margin-bottom:3px;
    color:#999;
    width:300px;
}

.event-date{
    float:right;
    line-height:25px;
    margin-bottom:3px;
    color:#999;
    text-align:right;
    font-size: 14px;
}

.event-content{
    float:left;
    font-size:13px;
    height:98px;
    overflow:hidden;
    width:100%;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
  .event-content{
      font-size:14px;
  }
}

@-moz-document url-prefix() { /*правило для firefox*/
    .event-content{
       font-size:14.5px;
    }
    #top-menu{
       float:right;
       text-align:right;
    }
    #header-text{
        font-size:30px;
    }
}

#filtr{
    margin-bottom:32px;
}
#filtr div checkbox{
    display:none;
    background-color: #066;
}
#filtr div {
    width:20px;
    height:20px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    width:20px;
    float:left;
    margin: 0 5px 10px 0;
    cursor:pointer;
    background: rgba(0,0,250,0.7);
}

#filtr div:hover{
    background: rgba(256,256,256,1);
}

#wrapper{
    margin:0 auto;
    width:900px;
    position:relative;
}

/*Стилизация кнопки ВВЕРХ */
#back-top{	
    position:fixed;
    top:50px;
    left:0px;
    bottom: 38px;

}

#back-top a{
    width:150px;
    display:block;
    text-align:center;
    font:11px/100% Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    color:#fff;
    /* background color transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}

#back-top a:hover{color:#000;}

/* графическая стрелка ВВЕРХ */
#back-top span{
    width:150px;
    height:485px;
    display:block;
    color:#FFF;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 11%, rgba(0,0,0,0.35) 44%, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.35)), color-stop(44%,rgba(0,0,0,0.35)), color-stop(95%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    /* background color transition */
    -webkit-transition:1s;
    -moz-transition:1s;
    transition:1s;
}

#back-top a:hover span{
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 11%, rgba(0,0,0,0.8) 44%, rgba(0,0,0,0.6) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.8)), color-stop(44%,rgba(0,0,0,0.8)), color-stop(95%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.vk_like{
    margin-bottom:-10px;
    position:absolute;
    //right:-20px;
    //float:right;
    bottom:15x;
}







