@charset "utf-8";

body{
	font-family: 'PT Sans', sans-serif;	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-image:url(../img/bg1.jpg);
	background-attachment:fixed;
	position:relative;
}


#go-top{

	position: fixed;
	
	top: 35px;
	left: 0px;
	width:180px;
	height:90%;
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 18%, rgba(0,0,0,0.25) 77%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(18%,rgba(0,0,0,0.25)), color-stop(77%,rgba(0,0,0,0.25)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 18%,rgba(0,0,0,0.25) 77%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	
}

#go-top:hover{

	
	position: fixed;
	top: 35px;
	left: 0px;
	width:180px;
	height:90%;
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0.8)), color-stop(60%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 30%,rgba(0,0,0,0.8) 60%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
/*ширина блока и выравнивание по центру*/
.centr{
	margin: 0 auto;
	width: 700px;
}

#top-line{
	font-size:13px;
	padding-top:12px;
	width:100%;
	height: 35px;
	background-color:#000;
	opacity:0.8;
	color:#FFF;
	
background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#top-container{
	
	
}

#logo{
	width:150px;
	float:left;
}

#top-menu{
	float:right;
	/*width:360px;*/

	text-align:right;
}

#container{
	
	
}
header{
	text-align:center;
	vertical-align:central;
	height:130px;
	color:#FFF;
}
#search-block{
	height:40px;
	background-color:#000;
	background: rgba(0,0,0,0.8);
	color:#FFF;
		-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
}
#search{
	width:550px;
	padding:10px;
	background: rgba(0,0,0,0);
	color:#FFF;
	border:none;
	font-size:14px;
}
#search-button{
		-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float:right;
	color:#FFF;
	height:40px;
	width:125px;
	background: rgba(0,0,0,0.8);
	opacity:0.8;
	border:none;
	
}
#search-button:hover{
	opacity:1;
	cursor:pointer;
	background: rgba(0,0,0,1);
}


.block{
	height: 146px;
	margin-top:20px;
	background: rgba(0,0,0,0.8);
		-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
/*-webkit-border-top-right-radius: 5px;
-moz-border-radius: 3px;
-moz-border-radius-topright: 5px;
border-radius: 3px;
border-top-right-radius: 5px;*/
}
/*
.block:hover > .text-block{
	text-decoration:underline;
	
}*/

.block:hover {
	/*padding: 10px 0 10px 0;*/
	background: rgba(0,0,0,0.94);
	cursor:pointer;
		
}




#zagolovok{
	font-size:26px;
	margin-top:50px;
	text-align:center;
	text-shadow:1px 1px 4px black;
	margin-bottom:0px;
}
#please-subs{
	font-size:14px;
	text-shadow:1px 1px 2px black;
}

#subs-button{
	color:#FFF;
	margin-top:10px;
	height:30px;
	width:185px;
background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	border:none;
	cursor:pointer;
	-webkit-box-shadow:  -1px 0px 3px 1px rgba(250, 250, 200, 0.5);
     box-shadow:  -1px 0px 3px 1px rgba(250, 250, 200, 0.5);
	 
	 -webkit-border-top-right-radius: 5px;
-moz-border-radius: 5px;
-moz-border-radius-topright: 5px;
border-radius: 5px;
border-top-right-radius: 5px;
}


.img-block{
	width:130px;
	float:left;
	margin: 8px 20px 10px 10px;
	/*border: solid 2px #000;
	/*-webkit-border-top-right-radius: 80px;
-moz-border-radius: 80px;
-moz-border-radius-topright: 80px;
border-radius: 80px;
border-top-right-radius: 80px;*/

}


.text-block{
	padding:12px 0px 10px 10px;
	color:#FFF;
	float:left;
	width:73%;
}
.event-name{
	float:left;
	font-size:18px;
	/*font-weight:bold;*/
	margin-right:15px;
	margin-bottom:3px;
}
.event-creator{
	float:left;
	line-height:25px;
	margin-bottom:3px;
	color:#999;
	width:300px;
}

.event-date{
	float:right;
	line-height:25px;
	margin-bottom:3px;
	color:#999;
	width:50px;
	text-align:right;
	
}
.event-content{
	float:left;
	font-size:14px;
	height:94px;
	overflow:hidden;
	width:100%;
}

@-moz-document url-prefix() { /*правило для firefox*/
.event-conent{
	font-size:13px;
}

#top-menu{
	float:right;
	/*width:360px;*/
	
	text-align:right;
}

}

#footer{
	font-size:13px;
	padding-top:12px;
	width:100%;
	height: 35px;
	
	
	color:#FFF;
	margin-top:30px;

	
	
		background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,0.9) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,0.9) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#filtr{
	margin-bottom:32px;
}
#filtr div checkbox{
	display:none;
	background-color: #066;
}
#filtr div {
	width:20px;
	height:20px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	width:20px;
	float:left;
	margin: 0 5px 10px 0;
	cursor:pointer;
	background: rgba(0,0,250,0.7);
}	

#filtr div:hover{
	background: rgba(256,256,256,1);

}

#filtr #admin{
	/*background-color: #099;*/
}
#filtr #user{
	/*background-color: #06C;*/
}


#wrapper{
	margin:0 auto;
	width:900px;
	position:relative;
}

/*Стилизация кнопки ВВЕРХ */
#back-top{	
	position:absolute;
	top:50px;
	left:0px;

}

#back-top a{
	width:150px;
	display:block;
	text-align:center;
	font:11px/100% Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
	/* background color transition */
	-webkit-transition:1s;
	-moz-transition:1s;
	transition:1s;
}

#back-top a:hover{color:#000;}

/* графическая стрелка ВВЕРХ */
#back-top span{
	
	width:150px;
	height:900px;
	display:block;
	color:#FFF;
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.35) 11%, rgba(0,0,0,0.35) 44%, rgba(0,0,0,0.15) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.35)), color-stop(44%,rgba(0,0,0,0.35)), color-stop(95%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.35) 11%,rgba(0,0,0,0.35) 44%,rgba(0,0,0,0.15) 95%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */



	/* background color transition */
	-webkit-transition:1s;
	-moz-transition:1s;
	transition:1s;
}

#back-top a:hover span{
	
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 11%, rgba(0,0,0,0.8) 44%, rgba(0,0,0,0.6) 95%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.8)), color-stop(44%,rgba(0,0,0,0.8)), color-stop(95%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 11%,rgba(0,0,0,0.8) 44%,rgba(0,0,0,0.6) 95%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}


#vk_like{
	position:absolute;
	right:0px;
	float:right;
}


#subscribe-form{

	visibility: hidden;
	position:fixed;
	left:37%;
	top:30%;
	width:360px;
	height:140px;
	background-color:#CCC;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
background: -moz-linear-gradient(top,  rgba(228,221,233,0.95) 0%, rgba(120,117,122,0.95) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,221,233,0.95)), color-stop(100%,rgba(120,117,122,0.95))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(228,221,233,0.95) 0%,rgba(120,117,122,0.95) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(228,221,233,0.95) 0%,rgba(120,117,122,0.95) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(228,221,233,0.95) 0%,rgba(120,117,122,0.95) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(228,221,233,0.95) 0%,rgba(120,117,122,0.95) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9e4dde9', endColorstr='#d978757a',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.46);
-moz-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.46);
box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.46);
	
}

#form-name{
	font-size:17px;
	margin:0px 14px -5px 17px;
	padding-top:5px;	
	color:#6c6a6a;
	border-bottom: 1px solid #FFF ;
	
}

#email-input{
	padding-left:5px;
	-webkit-box-shadow:  inset 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  inset 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
	background-color:#edebed;	
	height:24px;
	width:253px;
	float:right;
	margin: 29px 12px 7px 0px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:none;
}

form img {
	float:left;
	width:73px;
	height:63px;
	margin-top:10px;
	margin-left:6px;
}

#submit-button-subscribe{
	float:right;
	color:#bab9b9;	
	margin-right:12px;
	margin-top:5px;
	height:28px;
	width:100px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:none;
	text-align:center;
	vertical-align:middle;
	
	text-shadow: 3px 4px 5px #424242;
        filter: dropshadow(color=#424242, offx=3, offy=4);
	
	
-webkit-box-shadow:  2px 3px 6px 1px rgba(0, 0, 0, 0.4);
        
        box-shadow:  2px 3px 6px 1px rgba(0, 0, 0, 0.4);
	

	
background: #695f71; /* Old browsers */
background: -moz-linear-gradient(top,  #695f71 0%, #302933 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#695f71), color-stop(100%,#302933)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #695f71 0%,#302933 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #695f71 0%,#302933 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #695f71 0%,#302933 100%); /* IE10+ */
background: linear-gradient(to bottom,  #695f71 0%,#302933 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#695f71', endColorstr='#302933',GradientType=0 ); /* IE6-9 */

}