@charset "utf-8";

body{
	font-family: 'PT Sans', sans-serif;	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-image:url(../img/bg1.jpg);
	background-attachment:fixed;
	position:relative;
}
#go-top{
	background: rgba(0,0,0,0.08);
	color:#FFF;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width:180px;
	height:100%;
}

#go-top:hover{
	background: rgba(0,0,0,0.7);
	color:#FFF;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width:180px;
	height:100%;
}
/*ширина блока и выравнивание по центру*/
.centr{
	margin: 0 auto;
	width: 700px;
}

#top-line{
	font-size:13px;
	padding-top:12px;
	width:100%;
	height: 35px;
	background-color:#000;
	opacity:0.8;
	color:#FFF;
	
background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#top-container{
	
	
}
#logo{
	
	
	
	width:150px;
	float:left;
}
#top-menu{
	float:left;
	width:350px;
	margin-left:200px;
	text-align:right;
}

#container{
	
	
}
header{
	text-align:center;
	vertical-align:central;
	height:130px;
	color:#FFF;
}
#search-block{
	height:40px;
	background-color:#000;
	background: rgba(0,0,0,0.8);
	color:#FFF;
}
#search{
	width:550px;
	padding:10px;
	background: rgba(0,0,0,0);
	color:#FFF;
	border:none;
	font-size:14px;
}
#search-button{
	float:right;
	color:#FFF;
	height:40px;
	width:125px;
	background: rgba(0,0,0,0.8);
	opacity:0.8;
	border:none;
	
}
#search-button:hover{
	opacity:1;
	cursor:pointer;
	background: rgba(0,0,0,1);
}


.block{
	height: 150px;
	margin-top:20px;
	background: rgba(0,0,0,0.8);
	-webkit-border-radius: 3px;
/*-webkit-border-top-right-radius: 5px;
-moz-border-radius: 3px;
-moz-border-radius-topright: 5px;
border-radius: 3px;
border-top-right-radius: 5px;*/
}
/*
.block:hover > .text-block{
	text-decoration:underline;
	
}*/

.block:hover {
	/*padding: 10px 0 10px 0;*/
	background: rgba(0,0,0,0.94);
	cursor:pointer;
		
}


.img-block{
	width:130px;
	float:left;
	margin: 8px 20px 10px 10px;
	/*border: solid 2px #000;
	/*-webkit-border-top-right-radius: 80px;
-moz-border-radius: 80px;
-moz-border-radius-topright: 80px;
border-radius: 80px;
border-top-right-radius: 80px;*/

}


#zagolovok{
	font-size:30px;
	margin-top:50px;
	text-align:center;
	text-shadow:1px 1px 4px black;
	margin-bottom:0px;
}
#please-subs{
	font-size:16px;
	text-shadow:1px 1px 2px black;
}

#subs-button{
	color:#FFF;
	margin-top:10px;
	height:30px;
	width:185px;
	background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	
	border:none;
	cursor:pointer;
	-webkit-box-shadow:  -1px 0px 3px 1px rgba(250, 250, 200, 0.5);
     box-shadow:  -1px 0px 3px 1px rgba(250, 250, 200, 0.5);
}
.text-block{
	padding:12px 20px 10px 10px;
	color:#FFF;
}
.event-name{
	float:left;
	font-size:18px;
	/*font-weight:bold;*/
	margin-right:15px;
	margin-bottom:3px;
}
.event-creator{
	line-height:25px;
	margin-bottom:3px;
	color:#999;
	
}
.evenr-conent{
	font-size:14px;
	
}

#footer{
	font-size:13px;
	padding-top:12px;
	width:100%;
	height: 35px;

	opacity:0.7;
	color:#FFF;
	margin-bottom:100px;
	position:absolute;
	bottom:-250px;
		background: rgb(119,115,115); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(119,115,115,0.8) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,115,115,1)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(119,115,115,0.8) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777373', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
#filtr{
	margin-bottom:32px;
}
#filtr div checkbox{
	display:none;
	background-color: #066;
}
#filtr div {
	width:20px;
	height:20px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
	width:20px;
	float:left;
	margin: 0 5px 10px 0;
	cursor:pointer;
	background: rgba(0,0,250,0.7);
}	

#filtr div:hover{
	background: rgba(256,256,256,1);

}

#filtr #admin{
	/*background-color: #099;*/
}
#filtr #user{
	/*background-color: #06C;*/
}


